@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Balatro';
    src: url('/src/assets/fonts/balatro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Balatro', Courier, monospace;
}
